body {
    background-color: #373b3e;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    font-size: 100%;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
button {cursor: pointer;}
a { cursor: pointer;color: inherit;display: inline-block;}
button,
input {
    box-shadow: none;
    font-family: sans-serif;
    border: 1px solid black;
    outline: none;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}
input:focus,
input:hover[type=number]::-webkit-inner-spin-button,
input:focus,
input:hover[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}
ul,
h1,
h2,
h3,
h3,
h4,
h5,
h6,
p,
a,
button {
    text-decoration: none;
    margin: 0;
    padding: 0;
    list-style: none;
}
img {max-width: 100%;vertical-align:middle;}

/*<----class---->*/
.p-hd {
    position: fixed;
    color: #f1f1f1;
    box-shadow: 0 2px 10px rgba(4, 4, 4, 0.9);
    background-color: #040404;
    width: 100%;
    top: 0;
    padding: 5px;
    padding-bottom: 0px;
    z-index:10;
}
.icons {
    background-color: transparent;
    background-image: url(../../logo/icon.png);
    background-repeat: no-repeat;
}
