::-webkit-input-placeholder {color: white;}
::-moz-placeholder {color: white;}
:-ms-input-placeholder {color: white;}
:-moz-placeholder {color: white;}
/*<--page animation content--->*/
@keyframes flowR {
    from {opacity: 0;transform: translateX(+100%);}
    to {opacity: 1;transform: translateX(0);}
}
@keyframes flowB {
    from {opacity: 0;transform: translateY(+100%);}
    to {opacity: 1;transform: translateY(0);}
}
@keyframes drop{
	0%{transform: scale(0);}
	50%{transform: scale(1.8);}
	100%{transform: scale(1.3);}
}
@keyframes zoom {
    from {transform: scale(1);}
    to {transform: scale(1.09);transition: transform 5s;}
}
/*<--page search main content--->*/