/*<--BOD+HF-->*/
.p-bd > .bd >.hf_m{
    width: 20em;
    position: relative;
    animation-name: flow;
    animation-duration: 0.1s;
}
.p-bd > .bd >.hf_m > div{
    width: 100%;
}
.fm_ply{
	position: fixed;
	width: 100%;
	height: 100%;
	top:0;
	right: 0;
	padding:55px 5px 0px 20em;
}
.sg-mdn>.bd>.fm_ply{
	padding-bottom: 85px;
}
.fm_ply>.fm_ply_bd{
	width: 100%;
	height: 100%;
	animation-name: drop2;
	animation-duration: 0.1s;
	background-image: url(../../files/mpCV/1.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.fm_ply>.fm_ply_bd>.bnd{
	padding: 10px;
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0.8);
}
.fm_ply>.fm_ply_bd>.bnd>.sg-art{
	padding-bottom: 0px;
	width: auto;
	margin: auto;
	height: 50%;
	text-align: center;
	display: flex;
}
.fm_ply>.fm_ply_bd>.bnd>.sg-art>img{
	margin: auto;
	max-width: 100%;
	max-height: 100%;
	box-shadow: 0 0 10px 5px rgba(255,255,255,0.1);
	border-radius: 5px;
}
.fm_ply>.fm_ply_bd>.bnd>.sg-nam{
	color: white;
	margin-top: 10px;
}
.fm_ply>.fm_ply_bd>.bnd>.sg-nam>h3{
	text-transform: capitalize;
}
.fm_ply>.fm_ply_bd>.bnd>.sg-nam>p{
	margin-top: 10px;
	font-size: 16px;
	color: #717171;
}
.fm_ply>.fm_ply_bd>.bnd>.sg-nam>.sg-upl{
	display: inline-block;
	padding: 5px;
}
.fm_ply>.fm_ply_bd>.bnd>.sg-nam>.sg-upl>img{
	width:2.5em;
	height: 2.5em;
	border: 1px solid grey;
	margin-right: 10px;
	border-radius: 5em;
}
.fm_ply>.fm_ply_bd>.bnd>.sg-nam>.sg-upl>h4{
	float: right;
	padding-top: 10px;
	text-transform: capitalize;
	color:#43d7ff ;
}
.fm_ply>.fm_ply_bd>.bnd>.sg-attr{
	display: inline-block;
	width: 100%;
	text-align: center;
}
.fm_ply>.fm_ply_bd>.bnd>.sg-attr>button{
	border: 1px solid transparent;
	margin: auto;
	background-color: transparent;
	margin:0px 1%; 
}
.fm_ply>.fm_ply_bd>.bnd>.sg-attr>button>div{
	height: 2em;
	width: 30px;
	margin: auto;
	margin-bottom: 5px;
}
.fm_ply>.fm_ply_bd>.bnd>.sg-attr>button>.lk{background-position: -1px -99px;}
.fm_ply>.fm_ply_bd>.bnd>.sg-attr>button>.dk{background-position: -1px -49px;}
.fm_ply>.fm_ply_bd>.bnd>.sg-attr>button>.sn{background-position: -1px -73px;}
.fm_ply>.fm_ply_bd>.bnd>.sg-attr>button>h4{
	color: white;
	font-size: 14px;
}
@media only screen and (max-width:30em){
	.fm_ply{padding-right: 0px; padding-top: 50px;}
	.sg-mdn>.bd>.fm_ply{padding-bottom: 0px;}
	.fm_ply>.fm_ply_bd{
		padding-bottom: 80px;
	}
	.fm_ply>.fm_ply_bd>.bnd>.sg-attr{
		display: flex;
	}
	.fm_ply>.fm_ply_bd>.bnd>.sg-attr>button{
		margin:auto; 
	}
	.fm_ply>.fm_ply_bd>.bnd>.sg-attr>button>h4{font-size: 13px;}
	.fm_ply>.fm_ply_bd>.bnd>.sg-attr>button>h4>small{
		display: none;
	}
}