.pgHead{
    width: 100%;
    padding:5px;
    text-align: center;
}
.logoText{
    font-size: 1.5em;
    margin: 10px;
}
.boxWrap{
    width: 100%;
    padding: 5px;
    text-align: center;
}
.box{
    position: relative;
    padding: 5px;
    display: inline-block;
    margin: 10px 20px;
    border-radius: 5px;
    height: 15em;
    width: 15em;
    box-shadow:-10px -10px 10px rgba(255, 255, 255, 0.932),10px 10px 10px rgb(216, 213, 213);
    overflow: hidden;
}
.box:hover>img{
    transition: transform 0.5s;
   transform: scale(1.2);
}
.box>img{
    height: 100%;
    object-fit: cover;
}
.box>.boxTop{
    position: absolute;
    padding:8px;
    background: #eaebf3;
    top:10px;
    left:15px;
}
.box>div>.view{
    display: inline-block;
    height: 100%;
    box-shadow:-2px -2px 3px rgba(255, 255, 255, 0.932),2px 2px 3px rgb(216, 213, 213);
    border-radius: 2px;
    padding: 5px;
}
.box>div>.view>p{
    color:rgb(21, 132, 184);
    font-size:1em;
    font-weight:600;
}
.box>.boxFoot{
    background-color: #eaebf3;
    height: 70px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding:12px 0px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
    display: none;
}
.box:hover>.boxFoot{
    animation-name: flowB;
    animation-duration:0.5s;
    display: inline-block;
}
.box>.boxFoot>.view{
    animation-name: flowB;
    animation-duration:0.7s;
    box-shadow:-5px -5px 5px rgba(255, 255, 255, 0.932),5px 5px 5px rgb(216, 213, 213);
    border-radius: 5px;
}
.box>.boxFoot>.view>a{
    width:100%;
    height: 100%;
    border-radius: 2.5px;
    background-color: rgb(79, 191, 243);
    padding: 10px 20px;
    text-transform: capitalize;
    color: white;
}