body {
    background-image: url(../logo/pc.png);
    background-attachment: fixed;
    padding-top:4em;
}
/*<----P-HEAD---->*/
.p-hd > ul {
    overflow: hidden;
    height: 100%;
    display: flex;
}
.p-hd > ul > .logo {
    width: auto;
    animation-name: blur;
    animation-duration: 0.5s;
}
.p-hd > ul > .logo > a {
    height: 40px;
    width: 5em;
    background-image: url(../logo/1.png);
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
}
.p-hd > ul > .logo {
    width: 100%;
    text-align: center;
    display: flex;
}
.p-hd > ul > .logo > a {
    background-size: contain;
}
.p-hd > ul > .logo > span {
    display: flex;
    margin: 6px;
    margin: auto;
    border: 1px solid #ababaa;
    border-radius: 1px;
}
.p-hd > ul > .logo > span > button {
    width: 2em;
    background-color: #ababaa;
    border: none;
    background-position: -2px -24px;
}
.p-hd > ul > .logo > span > input {
    padding: 5px;
    color: #ababaa;
    background-color: transparent;
    border: none;
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 600;
}
.p-hd > ul > .logo > button {
    display: none;
}
.p-hd > ul > .link {
    width: 100%;
    margin: auto;
}
.p-hd > ul > .link > ul {
    display: flex;
    padding: 0 5px;
}
.p-hd > ul > .link > ul > li {
    text-align: center;
    text-transform: capitalize;
    font-weight: 600;
    letter-spacing: 1px;
    width: 50%;
    font-size: 14px;
    display: inline-block;
    font-family: 'Coda';
    padding: 5px;
}
.p-hd > ul > .link > ul > li > a {
    padding: 5px 30px;
    border: 1px solid transparent;
    border-bottom: 4px solid transparent;
}
.p-hd > ul > .link .dropD{
    width:12em;
    margin-top:9px;
    position:absolute;
    text-align:left;
    animation-name:drop;
    animation-duration:0.5s;
}
.p-hd > ul > .link .dropD > a{
    background-color:#389fa8;
    padding:5px;
    width:100%;
    color:#ebf1f1;}
.p-hd > ul > .link .dropD > a:hover{
    background-color:#2d8390;
}
.p-hd > ul > .link > ul > li > button {
    width: 2em;
    height: 2em;
    border: none;
    background-position: -3px -122px;
}
.p-hd > ul > .link > ul > li > button > p {
    color: white;
    background-color: red;
    margin: -13px -10px 0px;
    border-radius: 1em;
    width: auto;
    float: right;
    height: auto;
    padding: 2px 5px;
    font-weight: 600;
    font-size: 13px;
}
.p-hd > ul > .link > ul > li > .on {
    transition: 0.2s;
    border-radius: 2px;
    border: 1px solid transparent;
    border-bottom: 4px solid yellow;
}
.p-hd > ul > .cart{
    width:15em;
    position:absolute;
    right:2em;
    top:3em;
    background-color:#2a373d;
    border-radius:3;
    animation-name:drop;
    animation-duration:0.5s;
    font-family: 'Coda';
}
.p-hd > ul > .cart > ul > li{
    display:flex;
    border:1px solid #67767d;
    margin-bottom:2px;
    height:3em;
}
.p-hd > ul > .cart > ul > li > img{
    width:3em;
    height:100%;
    padding:3px;
    border-radius:3px;
}
.p-hd > ul > .cart > ul > li > p{
    width:100%;
    padding:5px 10px;
    text-transform:capitalize;
    font-size:13px;
    letter-spacing:1px;
    line-height:18px;
}
.p-hd > ul > .cart > ul > li > p > small{
    font-weight:600;
    font-size:14px;
}
.p-hd > ul > .cart > ul > li > button{
    padding:5px 12px;
    font-family:sans-serif;
    border:5px solid #ea3838;
    border-width:10px 5px;
    background-position:-3px -50px;
    background-color:#ea3838;
}
.p-hd > ul > .cart > ul > button{
    width:100%;
    display:flex;
    padding:3px 10px;
    background-color:#eae05a;
}
.p-hd > ul > .cart > ul > button > p{
    width:100%;
    color:#28ac60;
    font-weight:600;
    font-size:12px;
    letter-spacing:1px;
}
.p-hd > ul > .cart > ul > button > h3{
    align-self:center;
    color:#ad4907;
    font-size:15px;
}
/*<----B-SLIDE---->*/
.slide,
.slide2 {
    padding: 2em;
    margin-top: 3em;
    text-align: center;
    font-family: 'Aclonica';
}
.slide > h1 {
    word-spacing: 1em;
    letter-spacing: 2px;
    text-transform: capitalize;
    color: goldenrod;
    font-size: 30px;
    padding-bottom: 0.5em;
}
.slide > p {
    font-family: 'Coda';
    text-transform: capitalize;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 16px;
    color: #caa807;

}
.slide2 {
    border: 1px solid gold;
    padding: 10px;
    margin: 5px auto;
    width: 60em;
    text-align: left;
    overflow: hidden;
}
.slide2 > img {
    padding: 5px;
    width: 15em;
    height: 15em;
    float: left;
}
.slide2 > div {
    height: auto;
    float: left;
    padding: 2em;
    margin-top: 1em;
    font-family: 'Coda';
}
.slide2 > div > h3 {
    color: #caa807;
    font-size: 20px;
    text-transform: capitalize;
}
.slide2 > div > p {
    text-align: center;
    text-transform: capitalize;
    font-size: 13px;
    border-bottom: 1px solid gold;
    margin-bottom: 1em;
    font-weight: 600;
    letter-spacing: 1.1px;
    line-height: 23px;
    color: #caa807;
    padding: 10px 0;
}
.slide2 > div > a {
    position: relative;
    display: inline-block;
    padding: 10px 2.5em 10px 10px;
    color: white;
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: #0987f3;
    border-radius: 2px;
}
.slide2 > div > a:hover::after {
    transition: 0.3s;
    transform: translateX(2em);
    opacity: 0;
}
.slide2 > div > a::after {
    position: absolute;
    content: '\27A0';
    color: #fff;
    font-weight: bold;
    float: right;
    margin-left: 5px;
    top: 3px;
    font-size: 20px;
}
/*<----B-HOLDER---->*/
.section {
    overflow: auto;
    margin: auto;
    margin-top: 5px;
    width: 60em;
}
.section > div > a > img:hover {
    transform: scale(1.1, 1.1);

}
.section > div  {
    position: relative;
    overflow: hidden;
    float: left;
    text-align: center;
    width: 12em;
    height: 100%;
    margin: 1.5em;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.section > div > a > .name {
    background-color: #1f262a;
    position: absolute;
    padding: 5px;
    color: #43d7ff;
    font-weight: 600;
    font-size: 13px;
    text-transform: capitalize;
    letter-spacing: 1px;
    top: 0;
    left: 0;
    font-family: 'Coda';
}
.section > div > a > img {
    width: 12em;
    height: 12em;
    vertical-align: middle;
    transition: transform 0.6s;
}
.section > div > .span {
    position: relative;
    width: 100%;
    height: 2.5em;
    background-color: goldenrod;
    display: flex;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.section > :nth-child(odd) > .span {
    background-color: #a90504;
}
.section > :nth-child(odd) > .span > button {
    color: #f7c80b;
}
.section > div > .span > button {
    color: #832500;
    width: 100%;
    border: none;
    font-size: 12px;
    border-radius: 0 0 5px 5px;
    background-color: transparent;
}
.section > div > .span > button > p {
    letter-spacing: 1px;
    font-weight: 600;
    text-transform: capitalize;
    font-family: 'Coda';
}
.section > :nth-child(odd) > .span > button > p > big {
    color: #4bb4f1;
}
.section > div > .span > button > p > big {
    color: #0e7219;
    font-size: 14px;
}
.section > :nth-child(odd) > .span > button:hover {
    background-color: #831c00;
    transition: 0.2s;
    font-size: 15px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}
.section > :nth-child(even) > .span > button:hover {
    background-color: #f4ba29;
    transition: 0.2s;
    font-size: 15px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}
/*<----P-BOTTOM---->*/
.footer {
    box-shadow: 0px -4px 5px rgba(0, 0, 0, 0.5);
    background-color: #2e2e2e;
}
.footer > ul {
    height: 100%;
    display: flex;
    width: 80%;
    margin: auto;
}
.footer > ul > li {
    padding: 5px;
    display: inline-block;
    width: 100%;
}
.footer > ul > .logo {
    position: relative;
    background-image: url(../logo/2.png);
    background-size: 100px;
    ;
    background-repeat: no-repeat;
    background-position: center 5px;
}
.footer > ul > .logo > p {
    text-align: center;
    text-transform: capitalize;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 14px;
    color: #dbb91c;
    font-weight: 600;
    letter-spacing: 0.5px;
}
.footer > ul > li > h4 {
    text-transform: capitalize;
    font-size: 14px;
    font-weight: bolder;
    color: #3497db;
}
.footer > ul > li > button {
    background-color: transparent;
    color: inherit;
    border: none;
}
.footer > ul > li > p,
.footer > ul > li > a > p,
.footer > ul > li > button > p {
    font-size: 12px;
    letter-spacing: 0.5px;
    padding: 2px;
    color: #999b9b;
    font-weight: 600;
    text-transform: capitalize;
    font-family: 'Coda';
}
.footer > ul > li > p:hover,
.footer > ul > li > a > p:hover,
.footer > ul > li > button > p:hover {
    color: #c5557a;
}
/*<----STYLE-F-VWMD---->*/
.view{
    margin:auto;
}
.view > h3{
    padding:0 30px;
    color:white;
    margin:5px;
    font-size:30px;
    text-transform:capitalize;}
.view > h3>small{color:#3497db;}
.view > h3>button{
    float:right;
    padding:5px 20px;
    font-size:14px;
    text-transform:uppercase;
    font-weight:bold;
    background-color:#e69802;
    color:white;
    border-radius:2px;
}
.view > .img{
    border-radius:3px;
    width:40em;
    margin:auto;
    text-align:center;
    background-color:#4a4e51;
    padding:5px;
    border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;
}
.view > .img>img{
    width:30em;
    box-shadow:0 0 3px rgba(0,0,0,0.5);
    border-radius:2px;
}
.view > .V-list{
    background-color:#4a4e51;
    margin:0 auto 1em;
    text-align:center;
    width:40em;
    border-bottom-left-radius:3px;
    border-bottom-right-radius:3px;
}
.view > .V-list > button{
    position:relative;
    border:5px solid #5c6971;
    width:5em;
    margin:5px;box-sizing:content-box;
    border-radius:3px;
    box-shadow:0 0 3px rgba(0,0,0,0.5);
}
.view > .V-list > button > p{
    right:0;
    bottom:0;
    position:absolute;
    padding:4px 0 0px 4px;
    background-color:#5c6971;
    color:white;
}
.view > p{
    color:white;
    padding:10px;
    background-color:#4a4e51;
}
/*<----STYLE-F-HMMD---->*/
.hm{
    position:relative;
    border:none;
    background-color:transparent;
    width:100%;
    margin:0;
    text-align:center;
}
.hm>h3{
    width:100%;
    left:0;
    text-transform:capitalize;
    font-size:30px;
    letter-spacing:1px;
    color:white;
}
.hm>img{margin:auto;
    padding: 5px;
    width: 12em;
    height: 12em;}
.hm-cont{
    height:7em;
    }
.hm-cont>h3{
    text-align:center;
    text-transform:capitalize;
    font-family:"Coda";
    letter-spacing:2px;
    color:#ebf1f1; 
    animation-name:chng;
    animation-duration:2s;
}
.hm-post{
    margin:10px 0;
    text-align:center;
    background: linear-gradient(to left, #dcce3a, #d1c548);
}
.hm-post:nth-child(odd){
    background: linear-gradient(to left, #ef5556, #ef6f70);
}
.hm-post>img{
    max-width:100%;
    max-height:15em;
}
.hm-post>span{
    display:inline-block;
    width:40%;
    border:1px solid white;
    color:white;
    padding:5px;
    margin-bottom:-3px;
}
.hm-post>span>h3{
   font-size:20px;
   text-transform:capitalize;
}
.hm-post>span>p{
    font-size:15px;
    letter-spacing:1px;
    font-family:"Coda";
}
.hm-post>span>a{
    text-transform:uppercase;
    margin:5px;
    font-size:13px;
    letter-spacing:1.5px;
    padding:5px 15px;
    border:3px solid #b3a732;
}
.hm-post:nth-child(odd)>span>a{
    border:3px solid #bd3a3b;
}